<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itlijunjie.andrioddemo1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".ui.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.UseListActivity" />
        <activity android:name=".ui.view.UseSqliteActivity" />
        <activity android:name=".ui.view.UseImageViewActivity" />
        <activity android:name=".ui.view.UseButtonActivity" />
        <activity android:name=".ui.view.UseGridActivity" />
        <activity android:name=".ui.view.LifeCycleActivity" />
        <activity android:name=".ui.view.UseTextActivity" />
        <activity
            android:name=".ui.actionbar.CustomActionBarActivity1"
            android:label="ActionBar实现下拉导航"
            android:parentActivityName=".ui.view.UseActionBarActivity" />

        <service
            android:name=".ui.service.MyService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".ui.view.UseServiceActivity" />

        <service
            android:name=".ui.service.FrontService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".ui.receiver.MyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.receiver.FirstReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.receiver.SecondReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ui.receiver.ThirdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_BROADCAST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".ui.view.UseBroadcastReceiverActivity" />
        <activity android:name=".ui.view.UseContentProvider" />
        <activity android:name=".ui.view.UseActionBarActivity" />
        <activity android:name=".ui.view.UseFragmentActivity" />
        <activity android:name=".ui.fragment.UseFragmentActivity1" />
        <activity android:name=".ui.view.UseCustomIncludeActivity" />
        <activity android:name=".ui.view.UseRequestFocusActivity"></activity>
        <activity android:name=".ui.view.UseFrameAnimationsActivity"></activity>
    </application>

</manifest>